body {
  background-image: linear-gradient(174.2deg, rgba(255, 244, 228, 1) 7.1%, rgba(240, 246, 238, 1) 67.4%);
  background-repeat: no-repeat;
}

.modal {
  background-color: #79808b8f;
}

.table_head {
  background-color: #f8fafc;
}

.react-tabs__tab--selected {
  color: #84cc17 !important;
  background-color: #ffff !important;
  border: 3px solid #84cc17;
  border-bottom: none;
  padding: 5px 10px;
}

.tabs {
  padding: 5px 10px;
}

.ml-9 {
  margin-left: 17.4%;
  margin-bottom: -3px;
}

.borderBottom {
  margin-right: 21px;
  border-bottom: 3px solid #84cc17;
}

li:nth-child(2) {
  margin-left: 0px;
}

.modal_scroll {
  height: 650px;
  overflow: scroll;
}

.sort_icon{
  position: absolute;
  margin-top: -15px;
  margin-left: 8px;
}
@media only screen and (max-width: 1024px) {
  .ml-9 {
    margin-left: 6.1%;
  }
}

@media only screen and (max-width: 570px) {
  .d_block {
    display: block;
  }

  .table_data_width {
    width: auto;
    border: none;
  }

  .modal_scroll {
    height: 503px;
  }
}